<h1>Novo sorteio</h1>

<% form_for(@sorteio) do |f| %>
  <%= f.error_messages %>

<p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>

 <p>
    <%= f.submit "Criar" %>
  </p>

<% end %>

<%= link_to 'Voltar', sorteios_path %>
