<h1>Edição de participantes</h1>

<% form_for([@sorteio,@participante]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Mostrar', sorteio_participante_path(@sorteio, @participante) %> |
<%= link_to 'Voltar', sorteio_participantes_path %>
