<h1><font color = "red">Participantes do amigo secreto</font></h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

<% for participante in @participantes %>
  <tr>
    <td><%=h participante.nome %></td>
    <td><%=h participante.email %></td>
    
    <td><%= link_to 'Mostrar', sorteio_participante_path(@sorteio, participante) %></td>
    <td><%= link_to 'Editar', edit_sorteio_participante_path(@sorteio, participante) %></td>
    <td><%= link_to 'Descartar', sorteio_participante_path(@sorteio, participante), :confirm => 'Você tem certeza ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo participante', new_sorteio_participante_path %>


