<h1>Novo participante</h1>

<% form_for([@sorteio, @participante]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.submit "Criar" %>
  </p>
<% end %>

<%= link_to 'Voltar', sorteio_participantes_path %>
