<p>
  <b>Nome:</b>
  <%=h @participante.nome %>
</p>
<% unless @participante.amigo.nil? %>
  <p>
    <b>Você ganhou o presente:</b>
    <%=h @participante.presente %>
  </p>
  <p>
    <b>Seu Amigo Secreto:</b>
    <%=h @participante.amigo.nome %>
  </p>
<% end %>
<%= link_to 'Editar', edit_sorteio_participante_path(@sorteio,@participante) %> |
<%= link_to 'Voltar', sorteio_participantes_path %>
